In [67]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [44]:
data = pd.read_csv(r'D:\GIT\Workshop Machine Learning\Datasets\GPA_data.CSV')
data.head()

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

In [72]:
print(data['Gender'].unique())
df_gend = data['Gender']

['Male' 'Female']

In [73]:
print(data['Extra_Curricular'].unique())
df_EC=data['Extra_Curricular']

['Societies' 'No' 'Sports']

In [75]:
df_Dum_gen=pd.get_dummies(df_gend)
df_Dum_EC=pd.get_dummies(df_EC)

In [76]:
df = pd.concat([data,df_Dum_gen,df_Dum_EC],axis=1)
df_new=df.drop(['ID','Gender','Extra_Curricular','No','Female'],axis=1)

In [77]:
col = list(df_new.columns)
col

['Age',
 'Study_Hours',
 'Annual_Income',
 'Distance_From_Home',
 'GPA',
 'Male',
 'Societies',
 'Sports']

In [78]:
df_fin=df_new.reindex(columns=col[:4]+col[6:]+['GPA'])
df_fin.head()

,Age,Study_Hours,Annual_Income,Distance_From_Home,Societies,Sports,GPA
0,22,10,1318792,154,1,0,1.76
1,24,9,874657,181,1,0,3.88
2,22,15,1098331,94,1,0,1.73
3,25,9,1680585,8,0,0,1.29
4,26,7,1361560,122,0,0,3.19

In [79]:
df_fin.isnull().sum()

Age                   0
Study_Hours           0
Annual_Income         0
Distance_From_Home    0
Societies             0
Sports                0
GPA                   0
dtype: int64

In [81]:
df_fin.isnull().any(axis=1).sum()

0

In [83]:
X=df_fin.iloc[:,:6].values
y=df_fin.iloc[:,6].values

In [84]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [85]:
model=LinearRegression()

In [92]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [90]:
y_pred=model.predict(x_test)

In [93]:
model.score(x_train,y_train)

0.006310247083344711

In [94]:
MSE=mean_squared_error(y_test,y_pred)

In [95]:
MSE

0.7405307011800448