In [39]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [7]:
import os
path = r'D:\GIT\Workshop Machine Learning\Datasets\Boston.csv'
data = pd.read_csv(path)
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [43]:
X = data.iloc[:,:12].values
y=data.iloc[:,12].values

In [44]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [45]:
model = LinearRegression()

In [46]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
model.score(x_train,y_train)

0.7690953567794605

In [48]:
model.intercept_

38.42706211257722

In [49]:
model.coef_

array([-1.25156811e-01,  4.48575121e-02,  2.01265385e-02, -1.62895522e+01,
        3.77366409e+00, -2.13185120e-03, -1.40611846e+00,  2.66835482e-01,
       -1.21692284e-02, -1.07660161e+00,  8.72533635e-03, -4.94425348e-01])

In [50]:
y_pred=model.predict(x_test)

In [51]:
MSE = mean_squared_error(y_test,y_pred)
MSE

34.21225254753344

In [52]:
np.sqrt(MSE)

5.849124083786686

# Simple linear Regressions

In [ ]:
#X=data.iloc[:,2]
#X.shape(506,1)  # change the shape as

# stats model

In [53]:
X_with_const = sm.add_constant(x_train)

In [54]:
model_sm = sm.OLS(X_with_const,y_train)

In [55]:
results=model_sm.fit()