# Importing needful libraries and modules

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split #For splitting the data into train & test
from sklearn.linear_model import LinearRegression #Linear regression model
from sklearn.metrics import mean_squared_error #Metric for regression MSE
import numpy as np

In [2]:
data=pd.read_csv("D:\\Data Science\\Workshop Python\Data\\Boston.csv")
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# Seperating independent data matrix & response vector

In [3]:
x=data.iloc[:,:12].values
y=data.iloc[:,12].values

# Splitting data into training & testing sets (Validation set approach)

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# Creating a linear regression model object

In [5]:
model=LinearRegression()

# Training the model with training data

In [6]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Estimated model parameters for independent variables

In [7]:
model.coef_

array([-1.25156811e-01,  4.48575121e-02,  2.01265385e-02, -1.62895522e+01,
        3.77366409e+00, -2.13185120e-03, -1.40611846e+00,  2.66835482e-01,
       -1.21692284e-02, -1.07660161e+00,  8.72533635e-03, -4.94425348e-01])

# Intercept of the model

In [8]:
model.intercept_

38.42706211257722

# R-Squared value for the trained model

In [9]:
model.score(x_train,y_train)*100

76.90953567794605

# Predicting the response for the unseen testing independent data

In [10]:
y_pred=model.predict(x_test)

# Mean Squared Error for the testing data

In [11]:
MSE=mean_squared_error(y_pred,y_test)
MSE

34.21225254753344

# Root Mean Squared Error

In [12]:
np.sqrt(MSE)

5.849124083786686