In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
path1 = os.getcwd() + r'\House.lk\HOUSE_LK01.CSV'
path2 = os.getcwd() + r'\House.lk\HOUSE_LK02.CSV'
path3 = os.getcwd() + r'\House.lk\HOUSE_LK03.CSV'
path4 = os.getcwd() + r'\House.lk\HOUSE_LK04.CSV'

In [3]:
df1 = pd.read_csv(path1,index_col=False)
df2 = pd.read_csv(path2,index_col=False)
df3 = pd.read_csv(path3,index_col=False)
df4 = pd.read_csv(path4,index_col=False)

In [4]:
data = pd.concat([df1,df2,df3,df4],ignore_index=True).drop(['Unnamed: 0'],axis=1)
data.head()

,Property_Type,address,Area_of_land,Bedrooms,Bathrooms,HouseSize,Advertiser,contact_num,Price
0,House,"Sudarshana Mawatha, Malabe",10,5,4,4300 sq.ft.,Harendra / Nimna,+94 777 070 666,"39,000,000"
1,House,,,,,,,,"39,000,000"
2,House,Rajagiriya,20,4,3,4800 sq.ft.,ACQUEST,+94 774 441 266,"150,000,000"
3,House,Battaramulla,18,4,3,5000 sq.ft.,Samson,+94 775 085 544,"70,000,000"
4,House,Pita Kotte,10,4,5,4000 sq.ft.,Exclusive Realtors,+94 776 396 655,"58,000,000"

# Data Cleaning

Missing values

In [5]:
data.shape

(4510, 9)

In [6]:
data.isna().any()

Property_Type    False
address          False
Area_of_land     False
Bedrooms         False
Bathrooms        False
HouseSize        False
Advertiser        True
contact_num      False
Price            False
dtype: bool

In [7]:
data.isnull().any(axis = 1).sum()

92

In [8]:
drop_df=data.dropna(how='any')
drop_df.isnull().any(axis = 1).sum()

0

In [10]:
drop_df.head(10)

,Property_Type,address,Area_of_land,Bedrooms,Bathrooms,HouseSize,Advertiser,contact_num,Price
0,House,"Sudarshana Mawatha, Malabe",10,5,4,4300 sq.ft.,Harendra / Nimna,+94 777 070 666,"39,000,000"
1,House,,,,,,,,"39,000,000"
2,House,Rajagiriya,20,4,3,4800 sq.ft.,ACQUEST,+94 774 441 266,"150,000,000"
3,House,Battaramulla,18,4,3,5000 sq.ft.,Samson,+94 775 085 544,"70,000,000"
4,House,Pita Kotte,10,4,5,4000 sq.ft.,Exclusive Realtors,+94 776 396 655,"58,000,000"
5,House,Pelawatte,40,5,4,3500 sq.ft.,Exclusive Realtors,+94 776 396 655,"150,000,000"
6,House,"Welisara, Kandana, Nagoda",10,4,2,2 Car parking spaces,Mr.Shafraz,+94 712 980 558,"18,500,000"
7,House,"Lower Dickson Road, Galle",8.52,3,2,2240 sq.ft.,Devon / Sasindu,+94 713 756 049,"45,000,000"
8,House,"Melder Place, Nugegoda",6,3,3,2357 sq.ft.,Devon / Sasindu,+94 713 756 049,"46,200,000"
9,House,Dalugama,6.25,3,3,1900 sq.ft.,Devon / Sasindu,+94 713 756 049,"30,300,000"

In [12]:
drop_df.duplicated().sum()

1278

In [13]:
drop_df.drop_duplicates(inplace=True)

C:\Users\uer\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
drop_df.shape

(3140, 9)