In [1]:
import requests
from bs4 import BeautifulSoup
from nltk.tokenize import word_tokenize 
import pandas as pd
import csv

In [2]:
url = "https://house.lk/"

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"
}

In [30]:
houselinks = []
## 19 houses in one page total 4500 houses  
for page in range(1,5):
        r = requests.get(f"https://house.lk/sale/house/page/{page}/")
        soup = BeautifulSoup(r.content,"lxml")
        houselist=soup.find_all("div",class_="property_listing_details")
        for item in houselist:
            for link in item.find_all("a",href=True):
                houselinks.append(url + link["href"])

In [31]:
len(houselinks)

80

In [32]:
homelists = []

for link in houselinks:
    r = requests.get(link, headers=headers)
    soup = BeautifulSoup(r.content, "lxml")
    try:
        Type=soup.find("div","property_title_label actioncat").text.strip()
        address=soup.find("div","property_categs").text.strip()
        Details=soup.find_all("div",class_="listing_detail col-md-6")
        Area_of_land=word_tokenize(Details[2].text)[4]
        Bedrooms=word_tokenize(Details[3].text)[2]
        Bathrooms=word_tokenize(Details[3].text)[2]
        HouseSize=soup.find_all("ul",class_="overview_element")[2].text.strip()
        #No_of_floors=word_tokenize(Details[5].text)[5]

        Advertiser=soup.find("div","col-md-7 agent_details").h3.text.strip()
        contact_num=soup.find("span","phonenum").text.strip()
        Price=word_tokenize(soup.find("div","price_area").text.strip())[2]

    except:
        Area_of_land=" "
        Bedrooms=" "
        Bathrooms=" "
        #No_of_floors=" "
        HouseSize=" "
        address = " "
        Advertiser= " "
        contact_num= " "
    
    home={
        "Property_Type":Type,
        'address':address,
        'Area_of_land':Area_of_land,
        'Bedrooms':Bedrooms,
        'Bathrooms':Bathrooms,
        "HouseSize":HouseSize,
        #'No_of_floors':No_of_floors,
        'Advertiser':Advertiser,
        'contact_num':contact_num,
        'Price':Price
        }
    homelists.append(home)
    print("Saving:",home["Price"])


#with open("House.csv",'w',newline="",encoding="utf-8") as f:
#    writer = csv.writer(f)
#    writer.writerow(['Property_Type','address','Bedrooms','Bathrooms','Advertiser','contact_num','Price'])
#    writer.writerows(homelists)

Saving: 50,000,000
Saving: 50,000,000
Saving: 27,500,000
Saving: 100,000,000
Saving: 148,000,000
Saving: 148,000,000
Saving: 148,000,000
Saving: 148,000,000
Saving: 21,750,000
Saving: 42,500,000
Saving: 26,000,000
Saving: 58,500,000
Saving: 58,500,000
Saving: 58,500,000
Saving: 58,500,000
Saving: 30,300,000
Saving: 46,200,000
Saving: 46,200,000
Saving: 20,000,000
Saving: 45,000,000
Saving: 50,000,000
Saving: 100,000,000
Saving: 100,000,000
Saving: 48,500,000
Saving: 85,000,000
Saving: 45,402,000
Saving: 36,000,000
Saving: 42,500,000
Saving: 37,000,000
Saving: 272,875,000
Saving: 179,000,000
Saving: 85,000,000
Saving: 13,850,000
Saving: 45,000,000
Saving: 33,000,000
Saving: 21,500,000
Saving: 21,500,000
Saving: 145,000,000
Saving: 48,000,000
Saving: 80,000,000
Saving: 42,500,000
Saving: 18,500,000
Saving: 18,500,000
Saving: 18,500,000
Saving: 18,500,000
Saving: 18,500,000
Saving: 170,000,000
Saving: 170,000,000
Saving: 40,000,000
Saving: 42,500,000
Saving: 18,000,000
Saving: 50,000,000
Saving: 50,000,000
Saving: 36,500,000
Saving: 11,000,000
Saving: 11,000,000
Saving: 11,000,000
Saving: 40,000,000
Saving: 295,000,000
Saving: 46,000,000
Saving: 50,000,000
Saving: 19,500,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 283,200,000
Saving: 49,500,000
Saving: 115,000,000
Saving: 55,000,000
Saving: 240,000,000
Saving: 600,000
Saving: 35,000,000
Saving: 18,500,000

In [33]:
df=pd.DataFrame(homelists)

In [34]:
df.shape

(80, 9)

In [35]:
df.head()

,Property_Type,address,Area_of_land,Bedrooms,Bathrooms,HouseSize,Advertiser,contact_num,Price
0,House,,,,,,,,"50,000,000"
1,House,,,,,,,,"50,000,000"
2,House,"Vidyala road, Bandarawatha, GAMPAHA, Gampaha",15,3,of,2 Car parking spaces,Vindana Wijayakantha,+94 773 610 608,"27,500,000"
3,House,Nugegoda,10.5,3,of,2 Car parking spaces,Kapila Sugathadasa,+94 775 522 618,"100,000,000"
4,House,Nawala,20,5,of,4 Car parking spaces,Aus Ceylon Realty,+94 771 401 580,"148,000,000"

In [37]:
df=df.to_csv(r"D:\R & D PROJECT\Code File\WebScraping\HOUSE_Sample.CSV")

## Test the Features of the house

In [4]:

## test link represent the house[0]
testlink="https://house.lk/details/luxury-house-for-sale-with-furniture-441787/"
r = requests.get(testlink, headers=headers)
soup = BeautifulSoup(r.content, "lxml")


Type=soup.find("div","property_title_label actioncat").text.strip()
address=soup.find("div","property_categs").text.strip()
Details=soup.find_all("div",class_="listing_detail col-md-6")
Area_of_land=word_tokenize(Details[2].text)[4]
Bathrooms=word_tokenize(Details[3].text)[2]
b=word_tokenize(Details[4].text)[2]




contact_num=soup.find("span","phonenum").text.strip()
Price=word_tokenize(soup.find("div","price_area").text.strip())[2]

In [7]:
Details

[<div class="listing_detail col-md-6"><strong>Property Type:</strong> House</div>,
 <div class="listing_detail col-md-6"><strong>Price:</strong> Rs. 57,000,000 ($ 286,350)   </div>,
 <div class="listing_detail col-md-6"><strong>Area of land:</strong> 80 perches</div>,
 <div class="listing_detail col-md-6"><strong>Bathrooms/WCs:</strong> 8</div>,
 <div class="listing_detail col-md-6"><strong>No. of floors:</strong> 2</div>,
 <div class="listing_detail col-md-6"><strong>Nearest bus stop:</strong> 100m</div>,
 <div class="listing_detail col-md-6"><strong>Nearest train station:</strong> 15km</div>,
 <div class="listing_detail col-md-6"><strong>Availability:</strong> Available now</div>]

In [51]:
HouseSize=soup.find_all("ul",class_="overview_element")[2].text.strip()
HouseSize

'3500 sq.ft.'

In [10]:
Details=soup.find_all("div",class_="single-overview-section panel-group property-panel")
Details

[]

In [23]:
Details=soup.find_all("div",class_="listing_detail col-md-6")
Bedrooms=word_tokenize(Details[3].text)[2]

In [19]:
Advertiser=soup.find("div","col-md-7 agent_details").h3.text.strip()

In [20]:
Advertiser

'Western City Properties'