In [2]:
import pandas as pd
import numpy as np

# Dealing with missing values

In [13]:
df=pd.read_csv(r"D:\GIT\Workshop Python\Data\iris - Missing.csv")

In [14]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           NaN          NaN           NaN          NaN     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Checking the missing values

In [5]:
df.isna().any() #This shows is there at least one missing value in any column

Sepal.Length    False
Sepal.Width     False
Petal.Length    False
Petal.Width     False
Species         False
dtype: bool

In [6]:
df.isna().sum() #This shows how many missing values in each column

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [7]:
df.isna().sum(axis=1).values #This shows how many missing values in each row

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [8]:
df.isna().sum()/len(df) #This shows the percentages of missing values in each column

Sepal.Length    0.0
Sepal.Width     0.0
Petal.Length    0.0
Petal.Width     0.0
Species         0.0
dtype: float64

In [9]:
df.isnull().any(axis = 1).sum() #This shows how may rows are there with at least one missing value

0

In [ ]:
df.isnull().all(axis = 1).sum() #This shows how many rows are there with only missing values

# Dropping missing values

# Dropping columns with large percentages of missing values

In [10]:
df_new=df.drop("Petal.Width",axis=1)
df_new.head()

   Sepal.Length  Sepal.Width  Petal.Length Species
0           5.1          3.5           1.4  setosa
1           4.9          3.0           1.4  setosa
2           4.7          3.2           1.3  setosa
3           4.6          3.1           1.5  setosa
4           5.0          3.6           1.4  setosa

Here onwards we are going to deal with df_new data frame

# Dropping rows with at least one missing value

In [ ]:
df1=df_new.dropna(how="any")
df1.head()

In [ ]:
df1.isna().any() #No missing values

# Dropping rows if all values in that row are missing values (Rows with only missing values)

In [ ]:
df2=df_new.dropna(how="all")
df2.head()

In [ ]:
print(len(df_new),len(df2)) #The row with only missing values has been removed

# Dropping rows where the non null values are less than a threshold value

In [ ]:
df_new.isnull().sum(axis=1).values

In [ ]:
df_new.notnull().sum(axis=1).values

In [ ]:
df3=df_new.dropna(thresh=3) #Remove rows where the number of non null values is less than 3
df3.head()

In [ ]:
df3.notnull().sum(axis=1).values

In [ ]:
print(len(df_new),len(df3))

# Filling missing values

In [ ]:
df_new.isnull().sum()

# Filling missing values with a particular value

In [ ]:
df4=df_new.fillna(0)
df4.head()

# Missing values of a particular column can be treated separately

In [ ]:
df5=df_new.copy()
df5.head()

In [ ]:
df5["Species"].fillna("Unknown",inplace=True) #Filling missing values in Species column with Unknown
df5.head()

In [ ]:
df5["Sepal.Length"].fillna(df5["Sepal.Length"].mean(),inplace=True) #Filling missing values in Sepal Length column with average
df5.head()

# Forward filling (Filling with previous values)

In [ ]:
df6=df_new.fillna(method="ffill")
df6.head()

In [ ]:
df6=df_new.fillna(method="pad")
df6.head()

# Backward filling (Filling with newt values)

In [ ]:
df7=df_new.fillna(method="bfill")
df7.head()

# Interpolate numerical missing values

In [ ]:
df8=df_new[['Sepal.Length', 'Sepal.Width', 'Petal.Length']]
df8.head()

In [ ]:
df9=df8.interpolate(method ='linear', limit_direction ='forward')

In [ ]:
df9.head()

# Dealing with duplicates (Repeated rows)

In [15]:
df=pd.read_csv(r"D:\GIT\Workshop Python\Data\iris - Duplicate.CSV")

In [16]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.9          3.0           1.4          0.2  setosa
4           4.7          3.2           1.3          0.2  setosa

# Checking duplicated rows

In [17]:
df.duplicated() #This returns True for duplicated rows

0      False
1       True
2      False
3       True
4      False
       ...
147    False
148    False
149    False
150    False
151    False
Length: 152, dtype: bool

In [18]:
df.duplicated().sum() #This returns the number of duplicated rows

5

In [ ]:
len(df)

# Dropping duplicated rows

In [ ]:
df.drop_duplicates(inplace=True)
df.head()

In [ ]:
df.duplicated().sum()

In [ ]:
len(df)

# Dealing with outliers

In [ ]:
df=pd.read_csv(r"D:\GIT\Workshop Python\Data\iris - Outliers.CSV")

In [ ]:
df.head()

# Detecting outliers using a boxplot

In [ ]:
boxplot=df.boxplot(column=["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]) #Sepal Width has really large values

# Detecting outliers using 1.5*IQR rule

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))

# Removing outliers

This will return True for all the rows which have at least one outof bound row

In [ ]:
out_rows=((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1) 
out_rows

In [ ]:
df_out=df[~out_rows]
df_out.head()

In [ ]:
print(len(df),len(df_out))

# Dealing with data types in columns

In [19]:
df=pd.read_csv(r"D:\GIT\Workshop Python\Data\iris - ColumnTypes.CSV")

In [ ]:
df

In [ ]:
arr=df["Sepal.Length"].values #Creating an array

In [ ]:
valstr=",".join(list(arr)) #Create a single string
valstr

In [ ]:
valstr2=valstr.replace('"',"") #Replace double quotations with empty strings
valstr2

In [ ]:
vlist=valstr2.split(",") #Create a string list
vlist

In [ ]:
varr=np.array(vlist) #Create an array
varr

In [ ]:
df["Sepal.Length"]=varr.astype(float) #Convert the strings into floats
df

# Spliiting columns

In [ ]:
df=pd.read_csv(r"D:\GIT\Workshop Python\Data\iris - SplittingColumns.CSV")

In [ ]:
df

In [ ]:
L=list(df["Sepal Width & Length"].values)
L

In [ ]:
L1=[st.split(",")[0] for st in L]
L2=[st.split(",")[1] for st in L]

In [ ]:
arr1=np.array(L1)
arr2=np.array(L2)

In [ ]:
df.drop("Sepal Width & Length",axis=1,inplace=True)

In [ ]:
df["Sepal.Width"]=arr1.astype(float)
df["Sepal.Length"]=arr2.astype(float)
df