In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #For encoding categorical variables

In [2]:
data=pd.read_csv("D:\\Workshops\\Python for Data Science Comprehensive Workshop\\Part 04 - Machine Learning\\Datasets\\GPA_data.CSV")
data.head()

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

# Creating dummy variables using pandas library

# Convert the categorical variables into dummy variables using get_dummies function

In [ ]:
df=pd.get_dummies(data[["Gender","Extra_Curricular"]])
df.head()

# Dummy Trapping (Removing one level from each categorical variable)

In [ ]:
df.drop(["Gender_Female","Extra_Curricular_No"],axis=1,inplace=True)
df.head()

# Now this dummy data frame can be merged with oroginal data frame

In [ ]:
data_new=pd.concat([data,df],axis=1)
data_new.head()

# Original categorical variables can be removed now

In [ ]:
data_new.drop(["Gender","Extra_Curricular"],axis=1,inplace=True)
data_new.head() #This data frame can be used for further processes

# Creating dummy variables with label & one hot encoding

In [ ]:
data.head()

# First the label encoding should be performed

# Creating a label encoder

In [ ]:
le=LabelEncoder()
le

# Performing the label encoding for the categorical variables

In [ ]:
data[["Gender","Extra_Curricular"]]=data[["Gender","Extra_Curricular"]].apply(lambda col : le.fit_transform(col))
data.head()

# Removing unwanted columns

In [ ]:
data.drop("ID",axis=1,inplace=True) #Drop ID column since that is unique for each observation
data.head()

# Creating a one hot encoder

In [ ]:
ohe=OneHotEncoder()
ohe

# One hot encoding for categorical variables seperately

In [ ]:
ohot_encoded_gen=ohe.fit_transform(np.array(data["Gender"]).reshape(-1, 1)).toarray()
arr_gen=ohot_encoded_gen[:,1].reshape(-1,1) #Dummy trapping is also done

In [ ]:
ohot_encoded_EC=ohe.fit_transform(np.array(data["Extra_Curricular"]).reshape(-1, 1)).toarray()
arr_EC=ohot_encoded_EC[:,1:] #Dummy trapping is also done

# Creating a dataframe with encoded data

In [ ]:
df_ohot=pd.DataFrame(np.hstack((arr_gen,arr_EC)),columns=["Male","Societies","Sports"]) #Encoding will be done in alphabetic

In [ ]:
df_ohot.head()

# Merging this data frame to the original data frame

In [ ]:
data_new=pd.concat([data,df_ohot],axis=1)
data_new.head()

# Removing the original variables

In [ ]:
data_new.drop(["Gender","Extra_Curricular"],axis=1,inplace=True)
data_new.head()

# Now the other processes can be performed to this data frame